@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');

@import "variables.css";

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
       
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    padding-top: 3rem;
    background-color: var(--background-color-main);
}

h1, h2, h3 {
    color: var(--title-color);
}

p {
    color: var(--text-color-with-opacity);
}

.width-padding {
    width: 90%;
    margin: 0 auto;
}

.title-design {
    background-color: rgba(123, 74, 226, 0.1);
    border-radius: .5rem;
    color: var(--purple);

    width: fit-content;

    margin-top: 2rem;
    padding: 0 1rem;
    
    line-height: 32px;
    font-weight: bold;
    font-size: 1.4rem; 
}

.section-margin {
    margin-bottom: 7rem;
}

.nav {
    margin: 1rem;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    list-style-type: none;
}