@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700;800&display=swap");

@import "variables.css";

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 1.4rem;
	padding-top: 3rem;
	background-color: var(--background-color-main);
}

h1,
h2,
h3 {
	color: var(--title-color);
}

p {
	color: var(--text-color-with-opacity);
}

.width-padding {
	width: 90%;
	margin: 0 auto;
}

.title-design {
	background-color: rgba(123, 74, 226, 0.1);
	border-radius: 8px;
	color: var(--purple);

	width: fit-content;

	margin-top: 2rem;
	padding: 0 1rem;

	line-height: 32px;
	font-weight: 700;
	font-size: 1.4rem;
}

.subtitle-design {
	font-size: 2.4rem;
	line-height: 2.8rem;
	font-weight: 800;
	color: var(--text-color);
	width: 10ch;

	border: 1px solid #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin: 16px 0 32px;
}

.section-margin {
	margin-bottom: 7rem;
}

.text-shadow {
	text-shadow: 
		1px 1px 0 var(--text-shadow), 
		-1px 1px 0 var(--text-shadow),
		1px -1px 0 var(--text-shadow),
		-1px -1px 0 var(--text-shadow);
} 

.border-box-shadow {
	border: 1px solid var(--border-box);
	box-shadow: 0 4px 2px var(--box-shadow);
}

.font-weight-700 {
	font-weight: 700;
}

@media(min-width: 1024px) {
	.title-design {
		font-size: 2rem;
	}
}