@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

@import "variables.css";

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
       
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    width: 90%;
    margin: 0 auto;
    background-color: var(--background-color-main);
}

h1, h2, h3 {
    color: var(--text-color);
}

p {
    color: var(--text-color-with-opacity);
}

.title-design {
    display: inline-block;
    background-color: rgba(123, 74, 226, 0.1);
    border-radius: .5rem;
    color: var(--purple);

    margin-top: 2rem;
    padding: 0 1rem;
    
    line-height: 32px;
    font-weight: bold; 
}

.section-margin {
    margin-bottom: 7rem;
}