@import "variables";

.footer {
    background-color: var(--footer-color);
    text-align: center;
    padding: 1.6rem;
}

.footer nav {
    margin-top: 0;
}

.footer p{
    font-weight: 200;
    font-size: 1.2rem;
}