@import "variables.css";

.header {
	display: none;
}

@media (min-width: 600px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--purple-for-background);
		border-radius: 16px;

		padding: 12px 23px;

		font-size: 1rem;
	}

	.header__img {
		width: 3.6%;
		max-width: 36.3px;
	}

	.header__list {
		display: flex;
		gap: 10px;
	}

	.header__list-item a{
		font-size: 1.2em;
		font-weight: 200;
		text-decoration: none;
		color: var(--text-color-with-opacity);

		padding: 5px;
	}

	#header__item--selected {
		color: var(--purple);
	}
}

@media (min-width: 1024px){
	.header__list-item a{
		font-size: 1.6em;
	}
}

@media (min-width: 1440px){
	.header__list-item a{
		font-size: 1.8em;
	}
}

@media (min-width: 1920px){
	.header__list-item a{
		padding: 10px;
	}
}
