.about-me__img {
    display: block;
    margin: auto;
}

.about-me__name{
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 800;
    color: var(--text-color);
    width: 10ch;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 1.6rem 0;
}

.about-me__content {
    font-weight: 200;

    line-height: 2.5rem;
    text-align: justify;
    color: var(--text-color-with-opacity);

    margin: 3rem 0 1.6rem;
}

.about-me__content li {
    display: inline;
}