@import "../variables.css";

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-container__article {
    width: 246px;
    height: 200px;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px var(--purple-with-opacity) solid;
    border-radius: 15px;

    margin: 1.6rem;
}

.article__content {
    color: var(--text-color);
}

.article__content p{
    font-size: 1.6rem;
}

.article__content strong{
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--title-color);
}

#article-container--selected {
    background-color: rgba(123, 75, 226, .08);
    border: none;
}
