@import "variables.css";

.area__title {
	font-size: 1.6rem;
	font-weight: 800;

	width: 5ch;
}

.area-title-desktop {
	display: none;
}

.area__duration {
	color: var(--text-color-with-opacity);
	font-size: 1.2rem;
	font-weight: 200;

	margin-top: 10px;
}

.area-list {
	margin: 25px 0;
}

.area-list__item {
	border-radius: 8px;
	padding: 15px;
}

.area-list__title {
	color: var(--title-color);
	font-size: 1.6rem;
}

.area-list__content {
	width: 30ch;
	font-weight: 300;
}

.area-date-container {
	width: 100%;
	display: flex;
	justify-content: space-between;

	font-size: 1.2rem;

	margin-top: 8px;
}

.area-date__duration {
	color: var(--purple);
	font-weight: 700;
}

.area-date__interval {
	color: var(--purple);
}

.area-list-desktop {
	display: none;
}

@media (min-width: 600px) {
	.career {
		overflow-x: hidden;
	}

	.career__title {
		margin: 28px auto;
	}

	.career__subtitle {
		text-align: center;
	}

	.area-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		gap: 64px;
		margin-top: 64px;
	}

	.area-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.area__title {
		width: auto;

		font-size: 32px;
	}

	.area__duration {
		font-size: 2rem;
	}

	.area-title-mobile {
		display: none;
	}

	.area-title-desktop {
		display: inline;
	}

	.area-list-mobile {
		display: none;
	}

	.area-list-desktop {
		display: flex;
		flex-direction: column;
		margin-top: 64px;
		gap: 64px;
	}

	.area-list__item {
		width: 580px;
		height: 220px;

		padding: 30px;
		font-size: 2rem;
		border-radius: 16px;

		justify-content: space-between;
	}

	.current-work {
		background-color: var(--footer-color);
		border: none;
	}

	.area-list__title {
		font-size: 2rem;
	}

	.area-list__content {
		width: 52ch;
		max-height: 78px;
		flex-grow: 1;

		font-size: 1.6rem;
	}

	.area-date-container {
		font-size: 1.8rem;
	}
}

@media(min-width: 1440px) {
	.area-container {
		flex-direction: row;

		gap: 0;
	}
}
