@import "../variables.css";

.article-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.article-container__article {
	width: 246px;
	height: 200px;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	text-align: center;

	border: 1px var(--purple-with-opacity) solid;
	border-radius: 15px;

	margin: 1.6rem;
}

.article__img {
	margin-bottom: 10px;
}

.article__content {
	color: var(--text-color);
	font-size: 1.6rem;
}

.article__content strong {
	text-transform: capitalize;
	font-size: 2.4rem;
	font-weight: 600;
	color: var(--title-color);
}

#article-container--selected {
	background-color: var(--footer-color);
	border: none;
}

.experiences-list {
	display: none;
}

@media (min-width: 1024px) {
	.article__content strong {
		font-size: 3.2rem;
		font-weight: 600;
	}

	.experiences {
		border-top: 1px solid var(--purple-with-opacity);
		border-bottom: 1px solid var(--purple-with-opacity);
	}

	.experiences-container {
		max-width: 900px;
		margin: 0 auto;

		padding: 100px 0;
	}

	.article-container {
		justify-content: space-between;
	}

	.article-container__article:nth-child(2) {
		order: 3;
	}

	.article-container__article {
		margin: 32px 0;
	}

	.experiences-list {
		display: flex;
		justify-content: space-between;
		background-color: var(--footer-color);

		list-style: none;
		text-align: center;

		padding: 28px 0;
		border-radius: 16px;
	}

	.experiences-list__item {
		width: 246px;
	}

	.experiences-list__item p {
		color: var(--purple);
		font-size: 1.6rem;
	}

	.experiences-list__item strong {
		font-size: 3.2rem;
	}
}
