@import "variables.css";

.portfolio {
	padding-left: 5%;
	overflow-x: hidden;
}

.portfolio__title {
	width: 9ch;
}

.skills-list {
	display: flex;
	overflow-x: hidden;
	gap: 8px;
}

.skills-list__item {
	display: flex;
	gap: 8px;
	justify-content: space-evenly;
	align-items: center;

	border: 1px solid var(--purple-with-opacity);
	border-radius: 8px;

	padding: 8px;
	height: 40px;
}

.skills-list__item--selected {
	display: none;
}

.skills-list__item img {
	width: 27px;
}

.skills-list__item p {
	display: inline-block;
	width: max-content;
	color: var(--purple-with-opacity);
	font-weight: 600;
}

.projects-list {
	display: flex;
	align-items: center;
	gap: 16px;

	overflow-x: hidden;
	margin-top: 29px;
}

.card-appearance {
	min-width: 300px;
	padding: 30px 24px;

	border: 1px solid var(--purple-with-opacity);
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.projects-list__item {
	width: 300px;
	padding: 30px 24px;

	border: 1px solid var(--purple-with-opacity);
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.projects-list__title {
	color: var(--title-color);
	font-size: 1.6rem;
	font-weight: 700;
}

.projects-list__desc {
	width: 28ch;
	color: var(--text-color-with-opacity);
}

.technologies-list {
	display: flex;
	gap: 8px;
	list-style-type: none;
}

.technologies-list__item {
	background-color: var(--footer-color);
	border-radius: 8px;
}

.technologies-list__item p {
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;

	color: var(--purple);
	padding: 8px 17px;
}

.see-more {
	width: 100%;
	padding: 20px 24px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.see-more__link {
	color: var(--purple-with-opacity);
	font-size: 1.4rem;
	font-weight: 600;
}

.play-video {
	width: 100%;
	max-width: 442px;
	background-image: url("../../images/TransparencePlay.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}

.video__content {
	width: 100%;

	justify-content: space-between;
	align-items: center;
}

.video-projects__list {
	display: flex;
	gap: 16px;

	
}

.video-projects__title {
	margin-bottom: 9px;
}

.video-projects__desc {
	margin-bottom: 25px;
	color: var(--text-color-with-opacity);
	font-weight: 200;
}

.video-card__desc {
	margin: 0;
}

.video-card__attend {
	width: 100%;

	display: flex;
	gap: 8px;
	justify-content: end;
	align-items: center;

	margin-top: 16px;
}

.video-card__attend p {
	color: var(--text-color-with-opacity);
	font-weight: 200;
}

.video-content-desktop {
	display: none;
}

@media (min-width: 1024px) {
	.technologies-list__item p {
		font-size: 1.6rem;
	}

	.video-projects__list {
		justify-content: space-evenly;
		margin-top: 53px;
	}

	.video-projects__desc {
		font-size: 2rem;
	}

	.video__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.video-content-mobile {
		display: none;
	}

	.video-content-desktop {
		display: block;
	}

	.video-card__attend {
		margin: 0;
	}

	.video__card-appearance {
		width: 500px;
		height: 400px;
		justify-content: space-between;

		font-size: 1.8rem;
	}

	.video__card-appearance:nth-child(2n) {
		background-color: var(--footer-color);
		border: none;
	}

	.play-video {
		min-height: 261px;
	}
}

@media (min-width: 1920px) {
	.portfolio {
		padding: 0 5%;
	}

	.portfolio__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-top: 28px;
	}

	.skills-list {
		gap: 32px;
	}

	.skills-list__item {
		width: 184px;
		height: 60px;
		border-radius: 16px;
		justify-content: space-evenly;
	}

	.skills-list__item p {
		font-size: 2rem;
	}

	.skills-list__item img {
		width: 45px;
	}

	.skills-list__item:nth-child(2n) {
		display: none;
	}

	.skills-list__item--selected {
		display: flex;

		background-color: var(--footer-color);

		width: 184px;
		height: 60px;
		padding: 8px;

		justify-content: space-evenly;
		align-items: center;

		border-radius: 16px;
	}

	.skills-list__item--selected img {
		width: 45px;
	}

	.skills-list__item--selected p {
		font-size: 2rem;
		font-weight: 600;
		color: var(--purple-with-opacity);
	}

	.projects-list {
		flex-wrap: wrap;
		justify-content: center;
		gap: 56px;

		margin-top: 100px;
	}

	.projects-list__item {
		width: 360px;
		height: 460px;
	}

	.projects-list__item:nth-child(4n + 2) {
		background-color: var(--footer-color);
		border: none;
	}

	.projects-list img {
		width: 100%;
	}

	.projects-list__title {
		font-size: 2rem;
	}

	.projects-list__desc {
		width: 100%;
		flex-grow: 1;
	}

	.see-more {
		padding: 48px 5%;
		gap: 8px;
	}

	.see-more__link {
		font-size: 2rem;
	}
}
