.section-padding-left {
	padding-left: 5%;
}

.section-desc {
	color: var(--text-color-with-opacity);
	font-weight: 200;
	margin-bottom: 24.5px;
}

.section-desc span {
	display: none;
}

.list-flex-hidden-gap {
	display: flex;
	overflow-x: hidden;
	gap: 16px;
}

.card-appearance {
	min-width: 300px;
	padding: 30px 24px;

	border: 1px solid var(--purple-with-opacity);
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.lets-talk__wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	padding: 1.2rem 1rem;
	outline: solid var(--purple-with-opacity) 1px;
	border-radius: 0.8rem;
}

.lets-talk__img {
	display: block;
	width: 2rem;
}

.lets-talk__content {
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--purple-with-opacity);
	
}

.inline-desktop {
	display: none;
}

.block-desktop {
	display: none;
}

.inline-mobile {
	display: inline;
}

.block-mobile {
	display: block;
}

@media (min-width: 600px) {
	.inline-desktop {
		display: inline;
	}

	.block-desktop {
		display: block;
	}

	.inline-mobile {
		display: none;
	}

	.block-mobile {
		display: none;
	}

	.section-desc {
		font-size: 2.4rem;
	}

	.section-desc span {
		display: inline;
	}

	.section-padding-left {
		padding-left: 0;
	}
}
